@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
/*--------------------*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
:root {
    --whiteColor: #fff;
    --lightWhiteColor: #f0f3f5;
    --darkRedColor: #a52e2d;
    --mediumGray: #c9cdcf;
    --darkGrayColor: #686c6e;
    --lightBlackColor: #383a3b;
    --fs14: 14px;
    --fs18: 18px;
    --fs24: 24px;
    --transition: all .3s ease;
}
/*header*/
body{
    font-family: 'Inter', sans-serif;
}
header {
    background-color: #6c757d;
    height: 100px;
}
.row {

}
header .row .header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}
.header-top .nav-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.search {
    width: 100%;
    position: relative;
}
.search input {
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: var(--fs14);
    background-color: #404040;
    border: 1px solid #404040;
    font-weight: 500;
    text-align: left;
    color: var(--lightWhiteColor);
    width: 100%;
}
header .row .header-top .logo {
    order: 1;
}
header .row .header-top .logo img {
    width: 60px;
    height: 60px;
}
.nav-panel {
    flex: 1 1 100%;
}
.nav-group {
    flex-direction: row;
}
header .header-top .nav-panel {
    order: 3;
    flex: 1 1 100%;
    margin-top: 10px;
}
header .header-top .nav-panel .search {
    width: 100%;
    position: relative;
}
header .row .header-top .nav-panel .search input {
    height: 64px;
    padding-left: 32px;
    border-radius: 6px;
    font-size: var(--fs14);
    background-color: #404040;
    border: 1px solid #404040;
    font-weight: 500;
    text-align: left;
    color: var(--lightWhiteColor);
    width: 100%;
}
header .header-top .nav-panel .search input:focus {
    background-color: #f6f6f6;
    color: var(--lightBlackColor);
}
header .header-top .nav-panel .search input::placeholder {
    font-weight: 500;
    color: var(--lightWhiteColor);
    font-size: var(--fs14);
}
header .header-top .nav-panel .search input:focus {
    background-color: #f6f6f6;
    color: var(--lightBlackColor);
}
.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightWhiteColor);
    font-size: var(--fs18);
}

header .header-top .nav-group {
    order: 2;
}
header .header-top .nav-group ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
header .header-top .nav-group ul li a{
    font-size: var(--fs24);
    color: var(--whiteColor);
}
header .header-top .nav-group ul li a:hover{
    text-decoration: none;
    color: #68edff;
}
header .header-top .nav-group ul li a span{
    display: none;
}

@media(min-width: 768px) {
    header {
        justify-content: center;
        margin: 0 auto;

    }
    header .row {
        max-width: 1100px;
        margin: 0 auto;
        justify-content: space-between;
    }
    header .row .header-top {
        align-items: center;
        padding: 14px  5px;
    }
    header .row .header-top .logo {

    }
    header .row .header-top .logo img {
        height: 64px;
        width: 64px;
    }
    header .row .header-top .nav-panel {
        order: 2;
        flex: 1 1 auto;
        margin-top: 0;
        padding: 0 10px;
    }
    header .row .header-top .nav-panel .search {
        max-width: 480px;
        margin: 0 auto;
    }
    header .row .header-top .nav-group {
        order: 3;
        justify-content: center;
    }
    header .row .header-top .nav-group ul li a span{
        display: inline-block;
        text-transform: capitalize;
        font-size: var(--fs14);
        font-weight: 500;
        color: var(--whiteColor);
        margin-left: 5px;
    }
}
/*main*/
main {
    padding: 90px 0 0 0;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    
}
main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}
.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 12px 10px #68edff;
    width: calc(33.33% - 20px);
    border-radius: 10px;
    flex-flow: column wrap;
}

.top-container {
    padding: 20px;
}

.adidas img {
    width: 300px;
}
.mizuno img {
    width: 300px;
}
.hill img {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

footer .footer-content {
    display: flex;
    align-items: center;
}

footer .footer-content div {
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #68edff;
}
/*upper container information*/
.shipment-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#f5f5e5;
    padding-left: 110px;
    padding-right: 110px;
    height: 120px;
    justify-content: center;
 }

 .shipment-text p {
    font-weight: 300;
    font-size: 14px;
 }

 .shipment-text h2 {
    font-weight: 600;
    font-size: 22px;
 }
/*bottom container information*/
.bottom-container {
    background-color: #6c757d;
    padding: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.bottom-container

.bottom-container p {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    
}

.bottom-container h3 {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
/*inf*/
.container-new {
    display: flex;
    width: 100%;
}
.information {
    display: flex;
    background-color:#f5f5e5;
    padding: 0 110px 0 110px;
    align-items: center;
    height: 250px;
}
.information p {
    justify-content: c;
}

.inforamtion-left {
    flex-wrap: wrap;
    justify-content: left;
    padding-right: 25px;
}

.information-right {
    padding-left: 25px;
    justify-content: right;
}

.cards-new {
    margin-bottom: 90px;
}
.carousel-cards{
    display: flex;
    flex-direction: row;
    padding: 90px 0 0 0;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}